.alert-container {
  position: relative;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.alert-container.show {
  opacity: 1;
}

.alert {
  animation: slide-in 0.3s ease-in-out;
}

@keyframes slide-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}